parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		-
			message: '#does not accept array<string, array\|string>#'
			path: %currentWorkingDirectory%/src/HttpRequest.php
